$cubeheight = 80px
// Navigation stuff
//------------------
nav#mainnav
  position:fixed
  top:$cubeheight
  left:0
  bottom:0
  width:50px
  z-index:2

  div.nav
    margin-left:-50px
    width:60px
    height:50px
    margin-top:20px
    background:#ffffff
    transition: margin 0.5s, background 0.5s
    cursor:pointer
    box-shadow: 0 0 10px #aaaaaa
    position:relative
    a
      height:100%
      width:100%
      display:block
    p
      position:absolute
      top:15px
      left:80px
      bottom:15px
      width: 180px
      text-align:left
      line-height:20px
      margin-left:30px
      visibility:hidden
      opacity:0
      transition: opacity 0.5s, margin-left 0.5s, background 0.5s, box-shadow 0.5s
      padding-left:20px
  div.nav.active
    background:#666600


nav#mainnav div.nav:hover, nav#mainnav.show div.nav
  margin-left:-10px
  p
    visibility:visible
    opacity:1
    margin-left:0
    background:rgba(255,255,255,0.7)
    box-shadow:0 0 15px 10px rgba(255,255,255,0.7)

nav#mainnav
  figure.showmenu
    margin-left:15px
    margin-top:20px
    position:relative
    div
      position:absolute
      top:0
      left:0
    div.circle
      width:25px
      height:25px
      border-radius:50%
      border:2px solid #eee
      box-shadow:0 0 3px #cccccc, inset 0 0 3px #cccccc
      background:none
      box-sizing:border-box
      transition:border 0.2s
    div.arr
      top:12px
      height:2px
      background:#eee
      border-radius:50% 0 0 50%
      box-shadow:0 0 1px #cccccc
      //transition:background 0.2s
      transition: all 0.4s ease-out;
    div.arr.first
      width:12px
      left:6px
    div.arr.second
      width:6px
      left:13px //cos(pi/8)*15
      top:14px
      transform: rotate(-45deg);
    div.arr.third
      width:6px
      left:13px
      top:10px
      transform: rotate(45deg);
  figure.showmenu:hover
    cursor:pointer
    div.arr
      background:#666600
    div.circle
      border:2px solid #660
nav#mainnav.show
  figure.showmenu
    div.arr
      border-radius:30%
      width:12px
      top:12px
      left:7px
    div.arr.first
      transform: rotate(-45deg)
      visibility:hidden
    div.arr.second
      transform: rotate(45deg)
    div.arr.third
      transform: rotate(-45deg)

// 3D cme stuff
//--------------
.container
  width: $cubeheight
  height: $cubeheight
  position: relative
  perspective: 1000px
#cube
  width: 100%
  height: 100%
  position: absolute
  transform: translateZ( -($cubeheight/2) )
  transform-style: preserve-3d
  transition: transform 0.5s
#cube figure
  display: block
  position: absolute
  width: 100%
  height: 100%
  border: 1px solid #eeeeee
  box-sizing:border-box
  line-height: $cubeheight
  font-size: ($cubeheight/2)
  font-weight: bold
  color: white
  text-align: center
  backface-visibility: hidden
  background:#ffffff
  cursor:pointer
  box-shadow:0 0 10px #aaa
#cube .front
  transform: rotateY(   0deg ) translateZ( ($cubeheight/2) )
#cube .back
  transform: rotateX( 180deg ) translateZ( ($cubeheight/2) )
#cube .right
  transform: rotateY(  90deg ) translateZ( ($cubeheight/2) )
#cube .left
  transform: rotateY( -90deg ) translateZ( ($cubeheight/2) )
#cube .top
  transform: rotateX(  90deg ) translateZ( ($cubeheight/2) )
#cube .bottom
  transform: rotateX( -90deg ) translateZ( ($cubeheight/2) )
#cube.show-front
  transform: translateZ( -($cubeheight/2) ) rotateY(    0deg )
#cube.show-back
  transform: translateZ( -($cubeheight/2) ) rotateX( -180deg )
#cube.show-right
  transform: translateZ( -($cubeheight/2) ) rotateY(  -90deg )
#cube.show-left
  transform: translateZ( -($cubeheight/2) ) rotateY(   90deg )
#cube.show-top
  transform: translateZ( -($cubeheight/2) ) rotateX(  -90deg )
#cube.show-bottom
  transform: translateZ( -($cubeheight/2) ) rotateX(   90deg )
#cube figure:hover
  background:#eeeeee
#cube figure:active
  background:#660

