// Content Manager
//-----------------
h1.inv
  border-bottom:1px solid #eeeeee
#invtable input
  font-size:100%
  padding:4px 4px
  margin:4px
table.inv
  margin:0 auto
  border-collapse: collapse
  
  th
    border-bottom:1px solid #aaaaaa
  th, td
    padding:5px 10px
  td.sort
    cursor:pointer
  tbody
    tr
      border-top:1px solid #eee
      cursor:pointer
    tr:hover
      background:#eeeeee
    td:hover
      background:#58f
      color:white
